* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: blue;
}

.single-column {
    /* background-color: aqua; */
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right:auto;
}

.light-container {
    background-color: aqua;
}

.dark-container {
    background-color: white;
}

.logo {
    width: 75px;
    margin-left: 50%;
}

.hero-cookie {
    width: 300px;
}

.hero {
    background-color: white;   
}
.hero-cookie {
    margin-left: 37%;
    width: 600px;
}

.hero-statement {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.hero-substatement {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}