* {
 box-sizing: border-box;
 font-family: sans-serif;
}

body {
    margin: 0px;
}

#navbar {
    background: linear-gradient(to bottom, #0096F3, #004773);
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: aliceblue;
    padding: 24px;
}

#navbar a:hover{
    color: #004773;
}
#navbar #logo {
    margin-right: auto; 
    width: 120px;
}

#hero {
    height: 500px;
    height: 100vh;
    background:
        linear-gradient(180deg, #0096F300,#0096F3),
        url("/harbor-breeze/images/pexels-valeriya-1123250.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    color: aliceblue;
}

#hero-content {
    position: absolute;
    top: 20%;
    left: 5%;
}

#hero-content p {
    margin-bottom: 50px;
    font-size: 22px;  
}

#hero-content h2 {
    font-size: 52px;
    margin-bottom: 0px;   
}

#hero-content a {
    padding: 10px 40px;
    background-color: #0096F3;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
}

#hero-content a:hover {
    background-color: #004773;
    color: #0096F3;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background: linear-gradient(to bottom, #0096F3, #004773);
    color: #bfefff;
    padding: 48px;
}

#card-section h1 {
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid #bfefff;
    padding: 20px;
    text-align: center;
    margin: 6px;
    border-radius: 25px;
}

.card img {
    border-radius: 25px;
}
.card h3 {
    font-size: 20px;
    margin: 10px;
}

.card p {
    font-size: 14px;
    margin: 14px 0px ;
}

.card a {
    padding: 10px 20px;
    background-color: #0096F3;
    border-radius: 15px;
    text-decoration: none;
    color: #004773;
}

.card a:hover {
    background-color: #004773;
    color: white;
}