* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header     header"
        "main       sidebar";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 20px
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 5px;
    border: 1px solid #aaaaaa;
}

#sidebar ul a {
    text-decoration: none;
    color: #111111;
    padding: 5px;
    display: block;
}

#sidebar ul a:hover {
    background-color: #aaaaaa;
    border-radius: 5px;
}

#main {
    grid-area: main;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #111111; 
}

#header #tube {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}


.metube-item h4 {
    margin: 8px;
    margin-left: 0px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    margin-left: 0px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

#product {
    margin: 10px;
}

#product-image {
    margin-left: 40px;
}