* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Discount navbar */

#discount-nav {
    text-align: center;
    color: #a734cf;
    background-color: #dde354;
    padding-bottom: 2px;
}

#join {
    text-decoration: underline;
}

#discount-nav:hover {
    background-color: #a734cf;
    color: #dde354;
}
/* main navbar */

#navbar-1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #a734cf;
    height: 70px
}

#navbar-1 #logo {
    width: 120px;
    margin-right: auto;
    cursor: pointer;
}


.link {
    padding: 0px 12px;
    text-decoration: none;
    color: #dde354;
    padding: 25px;
    cursor: pointer;
}

.link:hover {
    color: #a734cf;
    background-color: #dde354;
}

/* hero */

#hero {
    background-image: url(../images/Beans1banner.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vw;
}

#hero h1 {
    font-size: 5vw; 
    color: whitesmoke;
    text-align: left;
    margin-bottom: 10px;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-align: left;
    margin-bottom: 20px;
}

#hero a {
    font-size: 20px;
    width: 250px;
    text-align: center;
    display: inline-block;
    background-color: #dde354;
    color: #a734cf;
    text-decoration: none;
    padding: 12px 24px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 20px;
    margin-top: 10px;
}

#hero a:hover {
    color: #dde354;
    background-color: #a734cf;
    border: 1px solid #dde354;
}

/* Featured Plates */

#feature-plates-h3 {
    text-align: center;
    font-size: 30px;
}

.feature-plates-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.plates-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.plates-section img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    transition: all 0.3s ease; 
    padding: 5px;
}

.plates-section:hover img {
    box-shadow: 0px 0px 8px 3px #a734cf7f;
    transform: scale(1.1);
    filter: grayscale(100%);
}

.plate-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease; 
    opacity: 0;
}

.plates-section:hover .plate-name {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

/* Sign up */

#sign-up {
    background-color: #a734cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
}

#sign-up h3 {
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 40px;
}

#email {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 8px;
    width: 500px;
    background-color: whitesmoke;
    color: rgb(154, 154, 154);
    text-align: left;
    margin-bottom: 20px;
}

#sign-up a {
    font-size: 20px;
    width: 200px;
    text-align: center;
    display: inline-block;
    background-color: #dde354;
    color: #a734cf;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 20px;
    margin-top: 20px;
}

#sign-up a:hover {
    color: #dde354;
    background-color: #a734cf;
    border: 1px solid #dde354;
}

/* Menu */

.card-container {
    padding-left: 40px;
}

.card-container h1 {
    font-size: 120px;
    color: #a734cf;
}

.card-container h4 {
    font-size: 40px;
    margin: 2px;
    color: #a734cf;
}

.soups-menu {
    width: 300px;
    background-color: #a734cf;
    padding: 24px;
    display: flex;
    color: #dde354;
    border-radius: 20px;
    box-shadow: 0px 8px #2e2e2e33;
}

.prices {
    padding-left: 50px;
}

.prices p {
    font-weight: bold;
}