* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 64);
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #f1f1f1;
    padding: 14px;
}

#navbar a:hover {
    color: goldenrod;
}

#hero-1 {
    background-image: url(../images/adoptionlocation.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 5vw;
    padding-left: 4vw;
    color: #f1f1f1 ;
    /* width: 100px; */
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 14px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #f1f1f1;
}

#hero-1 a:hover {
    background-color: #f1f1f1;
    color: goldenrod;
}

.spacer {
    height: 50vh;
    background-image: url(../images/pexels-felix-mittermeier-1146134.jpg);
    width: 100%;
}

#available-animals {
    display: block;
    align-items: center;
    text-align: center;
    background-color: grey;
}

#available-animals h4 {
    font-size: 30px;
}

.animals img {
    width: 300px;
    height: 350px;
}

.animals {
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    width: 350px;
    border: 2px solid #ffe32f;
    padding: 10px;
    box-shadow: -4px 4px 12px #f1f573;
    background: linear-gradient(-50deg,#000000, #504e9a,#1f1b94);
    
}

.animals a {
    background-color: yellow;
    padding: 14px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.animals a:hover {
    background-color: aqua;
}